# Configuración de contactos / enlaces (opcional)
NEXT_PUBLIC_SITE_URL=https://redesymarketting-web.vercel.app
NEXT_PUBLIC_WHATSAPP=https://wa.me/00000000000
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/redesymarketting
NEXT_PUBLIC_FACEBOOK=https://facebook.com/redesymarketting
NEXT_PUBLIC_TIKTOK=https://tiktok.com/@redesymarketting
