# Configuración de contactos / enlaces (opcional)
NEXT_PUBLIC_SITE_URL=https://redesymarketting-web.vercel.app
NEXT_PUBLIC_WHATSAPP=https://wa.me/584125012969
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/redesymarketting
